.main {

}

.garage {


}

.car-list {
  list-style: none;
  padding: 0;

&__item {

  .item__car-wrapper {
    position: relative;
    // text-decoration: dashed;
    color: #32557f;
    text-decoration: none;
    border-bottom: 2px dashed #32557f;
    padding-bottom: 3px;
    
    &-car {
      display: inline-block;
      // transform: translateX(200px);
      // transform: translateY(20px);
      transform: translate3d(0, 20px, 0);
      margin-top: auto;
      // animation: 4s linear alternate race;
    }

    &-flag {
      display: inline-block;
      position: absolute;
      right: 10%;
      bottom: 0;
    }

  }

}

}

// @keyframes race {
//   from {
//     transform: translate3d(0, 20px, 0);
//   }
//   to {
//     transform: translate3d(500px, 20px, 0);
//   }
// }